$form-nav-item: #0073aa;
$border-color: #ddd;
$medium-gray: #aaa;

.quiz-admin-box {
  display: flex;
}

.quiz-form {
  flex-grow: 2;
  margin-left: 1em;
}

.quiz-form-nav {
  margin-right: 10px;
  max-height: 650px;
  overflow-y: scroll;
  padding-right: 1em;

  .tray {
    margin-bottom: 2em;
  }

  .add-new {
    text-align: center;

    svg {
      color: $form-nav-item;

      &:hover {
        color: lighten($form-nav-item, 10%);
        cursor: pointer;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.form-nav-item {
  background-color: $form-nav-item;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  height: 10em;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 10em;

  &:hover {
    cursor: pointer;
  }

  .selection-border {
    border-radius: 4px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border: 3px solid rgba(255,255,255,0);
    transition: border-color .2s;
  }

  &.active .selection-border,
  &:hover .selection-border {
    opacity: 1;
    color: #fff;
    border-color: #fff;
    transition: none;
  }

  .delete-item {
    position: absolute;
    top: .45em;
    right: .45em;
    color: rgba(255,255,255,0);
    font-size: .7em;
    cursor: pointer;
    transition: color .3s;
  }

  &:hover .delete-item {
    opacity: 1;
    color: #fff;
    transition: none;
  } 
}

.score-description {
  border: 1px solid $border-color;
}

.btn-add-answer {
  background-color: $form-nav-item;
  color: white;

  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  &:hover {
    cursor: pointer;
    background-color: lighten($form-nav-item, 10%);
  }
}

input[type="text"] {
  padding-bottom: 10px;
  padding-top: 10px;
}

.answer {
  margin-bottom: 10px;
  position: relative;

  .correct {
    color: $medium-gray;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
      cursor: pointer;
    }

    &.fa-check-circle {
      color: #21c650;
    }
  }

  .delete-answer {
    background-color: #d20000;
    color: white;
    padding: 5px 6px;
    position: absolute;
    top: 50%;
    transform: translate(-115%, -50%);

    &:hover {
      background-color: lighten(#d20000, 7%);
      cursor: pointer;
    }
  }
}
